<div class="container-fluid p-0 vh-100 position-fixed">
    <div class="position-fixed middle">
        <div class="row d-flex text-center justify-content-center">
            <div class="col-12 m-0 bg-light">
                <h1 class="goldenText m-0 loading-animation">
                    <span class="text">Loading</span>
                    <span class="dot">.</span>
                    <span class="dot">.</span>
                    <span class="dot">.</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="walkAnimation {{dogGirl}}"></div>
</div>