@import '../../shared/shared.scss';

.container-fluid{
    background-image: url('../../assets/begin.webp') ;
    box-shadow: 0 0 200px rgb(255, 245, 225) inset;
    @extend .background-image-full !optional;
    z-index: 0;
}
.container-fluid::before{
    background-image: url('../../assets/colorspiral.jpg') ;
    mix-blend-mode: soft-light; 
    filter: blur(30px);

    @extend .pseudo-images !optional;
    z-index: -3;
}
.container-fluid::after{
    mix-blend-mode: color-dodge; 
    opacity: 0.8;
    @extend .pseudo-images !optional;
    animation: backgroundAnimation 4s infinite;
    z-index: -2;
}
.position-absolute.middle::after {
    @extend .pseudo-images !optional;
    top: -50px;
    width: 100vw;
    height:78%;
    background: #ffffff;
    filter: blur(27px);
    opacity: 0.8;
    z-index: -1;
}
.position-absolute.middle .row{
    margin-bottom: 8em;
}


.row h1{
    font-size: 4.5em;
}

button{
    font-size: x-large;
}
// ---- Animation ----
$background-images: (
  url('../../assets/starBorder.png'),
  url('../../assets/starBorder2.png')
);

// Loop through the background images and set the animation
@keyframes backgroundAnimation {
  0% { background-image: nth($background-images, 1); }
  50% { background-image: nth($background-images, 2); }
  100% { background-image: nth($background-images, 1); }
}