
<div class="container-fluid p-0 vh-100 w-100 position-fixed">
    <div class="effect vh-100 w-100">
        
    </div>
    <div class="position-absolute middle">
        <div class="row d-flex text-center justify-content-center ">
          <div class="col-12 m-0">
            <h3 class="goldenText m-0 animate__animated animate__fadeInUp animate__delay-1s">Welcome to</h3>
          </div>
          <div class="col-12">
            <h1 class="goldenText animate__animated animate__zoomIn  animate__delay-2s">Red's Harem</h1>
          </div>
        </div>
        <div class="text-center">
          <button class="goldenText animate__animated animate__fadeIn animate__delay-4s" (click)="goToHallway()" >Enter Palace</button>
        </div>
      </div>
  </div>
  