.background-image-full{
    background-size: cover; 
    background-position: center; 
}
.middle {
    top: 18% !important;
    width: 100vw;
}
.goldenText{
    color: #bca737 !important;
    text-shadow: #fdfbc5 3px 1px 0px;
}