@import url('https://fonts.googleapis.com/css2?family=Loved+by+the+King&display=swap');

body,
button{
    font-family: "Loved by the King", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .2em;
}
body h1{
    font-size: 55px;
}
body h2{
    font-size: 45px;
}
body h3{
    font-size: 30px;
}
h1,
h2,
h3,
h4{
    font-family: 'Bonheur Royale', sans-serif;
    font-weight: 500;
    letter-spacing: normal;
    color: gold
}

button{
    border: 2px gold solid;
    border-radius: 5px;
    color: goldenrod
}
button:hover{
    border: 2px gold solid;
    background-color: gold;
    border-radius: 5px;
    color: white
}
